@font-face {
  font-family: 'Open Sans';
  src: url('https://storage.yandexcloud.net/kocherovaphoto/font/ofont.ru_PetersburgCTT.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
