.HeaderWrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;

  animation: blinds 2s ease forwards;

  @keyframes blinds {
    0% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }
}

.Scrolled {
  &-black {
    transition: background-color 1s ease;
    background-color: rgb(255, 255, 255);
  }
  &-white {
    transition: background-color 1s ease;
    background-color: rgba(0, 0, 0, 1);
  }
}
