@mixin button-props {
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 8px;
  transition: box-shadow 0.2s 0.1s;
}

.Button {
  &Default {
    @include button-props;
    background: rgba(134, 134, 134, 0.578);
  
    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.578);
      box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
    }
  }
  &White {
    @include button-props;
    background: rgba(255, 255, 255, 0.217);
  
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.776);
    }
  }
  &Black {
    @include button-props;
    background: rgba(0, 0, 0, 0.32);
  
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.776);
    }
  }
  &Photo {
    border: none;
    background-color: black;

    &:hover {
      cursor: pointer;
    }
  }
  &Border {
    border: none;
    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: border-bottom 0.2s 0.1s;

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid rgb(255, 255, 255);
    }
  }
}
